@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pokemon Detail";

}

<!DOCTYPE html>


<h1>@ViewBag.PokemonName</h1>
<h2>Pokemon #@ViewBag.PokemonNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(@ViewBag.Description)</div>

@if (@ViewBag.Details.Length>0)
{
    <h5>Details:</h5>
    <div>
        <ul>
            @foreach (var detail in ViewBag.Details)
            {
                <li>@detail</li>

            }
        </ul>
    </div>
}


 