@model DotNetPokedex.Models.Pokemon
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}

<!DOCTYPE html>


<h1>@Model.PokemonName</h1>
<h2>Pokemon #@Model.PokemonNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(@Model.DescriptionHtml)</div>

@if (@Model.Stats.Length>0)
{
    <h5>Stats:</h5>
    <div>
        <ul>
            @foreach (var stat in Model.Stats)
            {
                <li>@stat.Ability: @stat.Weakness:</li>

            }
        </ul>
    </div>
}


 